<header>
    <nav class="navbar navbar-light fixed-top">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="d-none d-sm-inline">Checkpoint two</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">insructions</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        application
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/beasts">beasts</a>
                        <a class="dropdown-item" href="/planets">planets</a>
                        <a class="dropdown-item" href="/movies">movies</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
