{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">All Movies</h1>
    </div>

    <div class="row">
        <ul class="list">
            {# movies #}
            <li>Movie title</li>
        </ul>
    </div>

    <nav class="row">
        <a href="/planets">Check the planets</a><br>
        <a href="/characters">Check the characters</a><br>
    </nav>
{% endblock %}
