{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
  <h1 class="col-12">All Planets</h1>
</div>
<div class="row">
  <ul class="list">
    <li>Planet id.   Planet Name</li>
  </ul>
</div>
<nav class="row">
  <a href="/movies">Check the movies</a>
  <a href="/characters">Check the characters</a>
</nav>
{% endblock %}
